.section-login {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    position: relative;
}

.container-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
}

.container-login .container-img-login,
.container-login .container-form-wrapper {
    position: relative;
    width: 50%;
    height: 100%;
}


.container-login .container-img-login > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-form-wrapper {
    padding-top: var(--header-height);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (width <= 768px) {

    .container-login {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .container-login .container-img-login,
    .container-login .container-form-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container-login .container-form-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black-color-opacity);
        backdrop-filter: var(--blur-bg);
    }
}