/* import fonts */

/*
@font-face {
  font-family: "Cleanow";
  src: url("/fonts/Cleanow.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CaviarDreams";
  src: url("/fonts/CaviarDreams.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*/

:root {
  --font-family-main: "sans-serif";
  --font-family-secondary: "monospace";
  --max-width: 1280px;
  --header-height: 4rem;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #fff;
  --primary-color: #fff;
  --secondary-color: linear-gradient(90deg,rgba(54, 128, 11, 1) 45%, rgba(142, 201, 22, 1) 80%, rgba(145, 255, 66, 1) 100%);
  --secondary-color-invert: linear-gradient(90deg,rgba(145, 255, 66, 1) 5%, rgb(122, 167, 32) 30%, rgba(54, 128, 11, 1) 100%);
  --green-color: rgba(54, 128, 11, 1);
  --black-color-opacity: rgba(0, 0, 0, 0.5);
  --blur-bg: blur(7px);
}   

/* Reset */
html {
  box-sizing: border-box;
  font-family: var(--font-family-main);
  font-size: 16px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
  position: relative; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
}


a {
  color: var(--secondary-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}