/* import fonts */

/*
@font-face {
  font-family: "Cleanow";
  src: url("/fonts/Cleanow.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CaviarDreams";
  src: url("/fonts/CaviarDreams.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*/

:root {
  --font-family-main: "sans-serif";
  --font-family-secondary: "monospace";
  --max-width: 1280px;
  --header-height: 4rem;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #fff;
  --primary-color: #fff;
  --secondary-color: #73ff67;
}   

/* Reset */
html {
  box-sizing: border-box;
  font-family: var(--font-family-main);
  font-size: 16px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
  position: relative; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
}


a {
  color: var(--secondary-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}